{% extends 'base.html' %}

{% block body_class %}id="can-emp-page-bg"{% endblock %}
{% block upper_page_wrapper_id %}{% endblock %}

{% block content %}
<div class="row">

    <div class="col col-10 offset-1 p-5 p-md-4 mb-4 b-radius-50 bg-light">

        <div class="row">
            <div class="col col-12 mt-5 mb-4 text-center text-dark">
                <h3>Looking For Your Dream Job?</h3>
            </div>
        </div>

        <div class="row text-dark">

            <div class="col col-12 col-md-8 col-lg-6 offset-lg-1 mb-5 mb-md-0 align-self-center">
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat.</p>

                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.</p>

                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam?</p>
                <hr />
            </div>

            <div class="col col-12 col-md-4 text-center align-self-center">
                <a href="{% url 'register_candidate' %}" class="btn btn-outline-info">Register as a candidate</a>
                <p class="my-5">Or</p>
                <a href="{% url 'register_employer' %}" class="btn btn-outline-info mb-3 mb-md-0">Register as an employer</a>
            </div>
            
        </div>

    </div>

</div>

{% endblock %}