{% extends 'base.html' %}

{% block body_class %}id="can-emp-page-bg"{% endblock %}
{% block upper_page_wrapper_id %}{% endblock %}

{% block content %}
<div class="row">

    <div class="col col-10 offset-1 p-4 p-md-4 mb-4 b-radius-50 bg-light">

        <div class="row">
            <div class="col col-12 mt-5 mb-4 text-center text-dark">
                <h3>Looking For Your Dream Job?</h3>
            </div>
        </div>

        <div class="row text-dark">

            <div class="col col-12 col-md-8 col-lg-6 offset-lg-1 mb-5 mb-md-0 align-self-center">
                <hr />
                <p>Are you a graduate of sport science, or a sport professional, looking for a new career? Then this is
                    the site for you! Simply Sport Science hosts an extensive variety of sports related jobs from all
                    across the globe. Whether you’re looking for an internship, part-time or full-time employment we
                    will have something to suit your needs.</p>

                <p> Finding your dream job has never been so easy, so go ahead
                    and sign up now!</p>

                <p>We also aim to provide users with information and advice relating to working within sports, including
                    interviews with professionals in the industry, and specialist sport articles. All this will be available on a blog to be released in a few months.</p>
                <hr />
            </div>

            <div class="col col-12 col-md-4 text-center align-self-center">
                <a href="{% url 'register_candidate' %}" class="btn btn-outline-info">Register as a candidate</a>
                <p class="my-5">Or</p>
                <a href="{% url 'register_employer' %}" class="btn btn-outline-info mb-3 mb-md-0">Register as an
                    employer</a>
            </div>

        </div>

    </div>

</div>

{% endblock %}