{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block upper_page_wrapper_id %}{% endblock %}
{% block body_class %}class="job-details-bg"{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-12 col-md-8 offset-md-2 text-light mt-5">
        <h1 class="text-center">Delete Profile</h1>
        <p class="text-center">Are you sure you want to delete your profile?</p>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-danger" type="submit">Delete Profile</button>
        </form>
    </div>
</div>

{% endblock %}