{% extends 'base.html' %}

{% block body_class %}id="can-emp-page-bg"{% endblock %}
{% block upper_page_wrapper_id %}{% endblock %}

{% block content %}
<div class="row">

    <div class="col col-10 offset-1 p-4 p-md-4 mb-4 b-radius-50 bg-light">

        <div class="row">
            <div class="col col-12 mt-5 mb-4 text-center text-dark">
                <h3>Interested In Finding Top Talent?</h3>
            </div>
        </div>

        <div class="row text-dark">

            <div class="col col-12 col-md-8 col-lg-6 offset-lg-1 mb-5 mb-md-0 align-self-center">
                <hr />
                <p>Do you have a job vacancy that you need publicized to the best possible selection of candidates? At
                    Simply
                    Sport Science we have an ever-growing pool of users, all part of the sport and fitness community,
                    that are
                    eager to find employment.</p>

                <p>Our job board is devoted to all sports related careers from small independent businesses to national
                    governing bodies. We enable you to interact with these professionals directly.</p>

                <p>So what are you waiting for? Sign up now, post your job advertisement and we’ll help you find your
                    perfect
                    employee.</p>
                <hr />
            </div>

            <div class="col col-12 col-md-4 text-center align-self-center">
                <a href="{% url 'register_employer' %}" class="btn btn-outline-info">Register as an employer</a>
                <p class="my-5">Or</p>
                <a href="{% url 'register_candidate' %}" class="btn btn-outline-info mb-3 mb-md-0">Register as a candidate</a>
            </div>

        </div>

    </div>

</div>

</div>

{% endblock %}