{% extends 'base.html' %}

{% block upper_page_wrapper_id %}id="can-emp-page-wrapper"{% endblock %}


{% block banner %}
<div class="row">
    <div class="col col-12 my-5 text-center text-light">
        <h3>Interested in finding top talent?</h3>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

        <div class="col col-12 col-md-8 col-lg-6 offset-lg-1 mb-5">
            <p>Do you have a job vacancy that you need publicized to the best possible selection of candidates? At Simply Sport Science we have an ever-growing pool of users, all part of the sport and fitness community, that are eager to find employment.</p>

            <p>Our job board is devoted to all sports related careers from small independent businesses to national governing bodies. We can offer you unlimited access to our vast database of CVs, our candidate profiles and can enable you to interact with these professionals directly.</p>
            
            <p>So what are you waiting for? Sign up now, post your job advertisement and we’ll help you find your perfect employee.</p>
        </div>

        <div class="col col-12 col-md-4 text-center">
            <a href="{% url 'register_employer' %}" class="btn btn-outline-info">Register as an employer</a>
            <p class="mt-5">Or</p>
            <a href="{% url 'register_candidate' %}" class="btn btn-outline-info mt-5">Register as a candidate</a>
        </div>
    </div>

</div>

{% endblock %}