{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block upper_page_wrapper_id %}{% endblock %}
{% block body_class %}class="sign-in-bg"{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-4 sign-in">
        <div class="row">
            <div class="col col-12 text-center">
                <h3>Sign In</h3>
                <p class="text-secondary">Ready to discover some amazing opportunities?</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.email | as_crispy_field }}
                    {{ form.password | as_crispy_field }}
                    <div class="text-right">
                        <a href="#" class="text-secondary">Forgot your password?</a>
                    </div>
                    <button class="btn btn-outline-info w-100 my-3" type="submit">Log in</button>
                    <div class="text-center mt-4">
                        <p class="text-secondary">Don't have an account? <a href="{% url 'register_employer' %}">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}