{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block upper_page_wrapper_id %}{% endblock %}
{% block body_class %}class="job-details-bg"{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-12 col-md-8 offset-md-2 text-light mt-5">
        <h1 class="text-center">Edit Profile</h1>
        <form method="POST">
            {% csrf_token %}
            {{ update_form | crispy }}
            {{ profile_form | crispy }}
            <div class="d-flex justify-content-between">
                <button class="btn btn-info" type="submit">Update</button>
                <a class="btn btn-danger" href="{% url 'delete_user_view' %}" type="submit">Delete</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}