astroid==2.3.3
autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.13
django-crispy-forms==1.8.0
gunicorn==20.0.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2==2.8.4
pycodestyle==2.5.0
pylint==2.4.3
pylint-django==2.0.12
pylint-plugin-utils==0.6
python-dateutil==1.5
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
stripe==2.40.0
urllib3==1.25.7
whitenoise==4.1.4
wrapt==1.11.2
