.post-job-link {
    border-radius: 20px;
    padding: 0;
}

.navbar-dark .navbar-nav .post-job-link a {
    color: #1b95a9;
}

.job-post {
    box-shadow: 0 2px 2px -2px #807f7f;
    padding: 20px;
}

.job-post .row .col {
    padding-left: 30px;
}

.job-post button {
    min-width: 6rem;
}

.input-group .algolia-places {
    width: auto;
}

@media (max-width: 768px) {
    .btn-search {
        width: 100%;
    }

    .input-group .algolia-places {
        width: 100%;
    }
}