.job-post {
    box-shadow: 0 2px 2px -2px #807f7f;
    padding: 20px;
}

.job-post .row .col {
    padding-left: 30px;
}

.job-post button {
    min-width: 6rem;
}

.algolia-places {
    width: auto;
}

@media (max-width: 768px) {
    .btn-search {
        width: 100%;
    }

    .algolia-places {
        width: 100%;
    }
}