body {
    min-height: 100vh;
}

.sign-in-bg {
    background-image: url("https://i.ibb.co/D8V02Ls/coffee-work-table-phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.navbar {
    z-index: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.post-job-link {
    padding: 0;
}

.navbar-nav .btn-outline-info {
    border-color: #61C5D3;
}

.btn-outline-info:hover {
    background-color: #61C5D3;
}

.navbar-dark .navbar-nav .post-job-link a {
    color: #FFF;
}

.navbar-dark .navbar-nav .post-job-link .nav-link:hover {
    color: #000;
}

#job-list-wrapper {
    background-image: url("https://i.ibb.co/cwL3K5W/jobs-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    min-height: 400px;
}

#navbar-bg-default {
    background: #1ab7d0;
}

.job-post {
    box-shadow: 0 2px 2px -2px #807f7f;
    padding: 20px;
}

.job-post .row .col {
    padding-left: 30px;
}

.job-post button {
    min-width: 6rem;
}

.input-group .algolia-places {
    width: auto;
    color: #000;
}

.bootstrap-select {
    max-width: 80px;
}

.sign-in {
    background:#FFF;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .btn-search {
        width: 100%;
    }

    .input-group .algolia-places {
        width: 100%;
    }

    .input-group-append .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        max-width: 100%;
        width: 100%;
    }
}