{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col col-12">
        <h2>Buy for $5.00</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <button id="submit-payment-btn" type="submit">Pay</button>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="https://js.stripe.com/v3/"></script>
<script type='text/javascript'>
    const stripe_pub = Stripe('{{ STRIPE_PUBLISHABLE }}');
    const sessionId = '{{ session_id }}';


    let stripe = Stripe(sessionId);
    let elements = stripe.elements();

    $('#submit-payment-btn').click(function () {
        startCheckout();
    });

    async function startCheckout() {
        const { error } = await stripe.redirectToCheckout({
            sessionId: sessionId
        });

        if (error) {
            alert('Something went wrong with the payment, please try again.');
        }
    }

</script>



{% endblock %}