{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col col-12">
        <h2>Buy for $5.00</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <button id="submit-payment-btn" type="submit">Pay</button>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="https://js.stripe.com/v3/"></script>
<script>
let stripe_pub = Stripe('{{ STRIPE_PUBLISHABLE }}');
let sessionId = '{{ session_id }}'
</script>
<script src="{% static 'js/stripe.js' %}"></script>



{% endblock %}