{% extends "base.html" %}
{% load static %}
{% block upper_page_wrapper_id %}{% endblock %}
{% block body_class %}class="job-details-bg"{% endblock %}

{% block content %}

<div class="row pt-5 text-center">
    <div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-4 mt-5 bg-light b-radius-10">
        
        {% if payment_status == "Payment Success" %}
            <p class="p-0 m-0">Your payment is being processed. Check your credits in the new job post page for an update.</p>
        {% else %}
            <p class="p-0 m-0">Your payment failed.</p>
        {% endif %}
        
    </div>
</div>

{% endblock %}