<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>{% if page_title %}
        {{ page_title }} | Simply Sport Science
        {% else %}
        Simply Sport Science
        {% endif %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Simply Sport Science</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register_employer' %}">Employers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register_candidate' %}">Candidates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% if request.user.employerprofile %}
                            <li class="nav-item btn btn-outline-info post-job-link">
                                <a class="nav-link" href="{% url 'new_job' %}">Post Job</a>
                            </li>
                        {% elif request.user.candidateprofile %}
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% block content %} {% endblock %}
    </div>
    <footer>

    </footer>
    <!-- jquery javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- bootstrap javascript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>