{% extends 'base.html' %}

{% block upper_page_wrapper_id %}{% endblock %}
{% block body_class %}class="job-details-bg"{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-12 col-lg-6 new-job">
        {% if request.user.employerprofile %}

            <h1 class="text-light">{{ page_title }}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ new_job_form | crispy }}
                <div class="d-flex align-items-baseline justify-content-between">
                    <button class="btn btn-outline-info" type="submit">Create Job Post</button>
                    <p class="text-light"><span id="credit-num">{{ request.user.employerprofile.credits }}</span> Credits</p>
                    <a href="{% url 'checkout' %}" target="_blank" class="btn btn-outline-info">Buy More</a>
                </div>
            </form>

        {% elif request.user.candidateprofile %}
            <div class="text-center text-light my-5">
                <h3>You have to create an employer account to post a job.</h3>
                <a href="{% url 'register_employer' %}" class="btn btn-info m-4">Sign Up As Employer</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block javascript %}

<!-- algolia location search scripts -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.0"></script>
<script>
    var placesAutocomplete = places({
        appId: '{{ ALGOLIA_PUBLIC_APP_ID }}',
        apiKey: '{{ ALGOLIA_PUBLIC_KEY }}',
        container: document.querySelector('#address-input')
    });

    const credit_amount_url = "{% url 'credit_amount_view' %}"
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% endblock %}