{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col col-6">
        <h1>{{ page_title }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ new_job_form | crispy }}
            <button class="btn btn-outline-info" type="submit">Create Job Post</button>
        </form>
    </div>
</div>

<!-- algolia location search scripts -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.0"></script>
<script>
    var placesAutocomplete = places({
        appId: 'plIV84ON3Z5G',
        apiKey: '75a6ea775a72efbcd592c923473e9d2d',
        container: document.querySelector('#address-input')
    });
</script>
{% endblock %}