{% extends 'base.html' %}

{% block upper_page_wrapper_id %}{% endblock %}
{% block body_class %}class="job-details-bg"{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-12 col-lg-6 new-job">
        <h1 class="text-light">{{ page_title }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ new_job_form | crispy }}
            <button class="btn btn-outline-info" type="submit">Create Job Post</button>
        </form>
    </div>
</div>

<!-- algolia location search scripts -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.0"></script>
<script>
    var placesAutocomplete = places({
        appId: '{{ ALGOLIA_PUBLIC_APP_ID }}',
        apiKey: '{{ ALGOLIA_PUBLIC_KEY }}',
        container: document.querySelector('#address-input')
    });
</script>
{% endblock %}